{% extends 'aero/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="div-row">
        <div class="div-cell half subtitle black grey first" align="center" color="ffffff">
            <span  class="title"><span class="red">Aero</span>Plan</span><br>
            <span>студия фитнеса в гамаках</span>
            <p>
                <span><b>г. Минск, Партизанский проспект 14, 2 этаж, пом. 216</b></span>
                <p><b>тел. +375 (44) 582-54-74</b></p>
            </p><br>
            <p class="slogan">Здоровье нашего тела, ясность мыслей и физическая активность - то, что наделяет нас красотой, легкостью и хорошим настроением...</p>
        </div>
        <div class="div-cell half grey second"><img class="image" src="static/aero/images/studio5.jpg"></div>

        <div class="div-cell one-third third">
            <img class="image" src="static/aero/images/photo4.jpg">
        </div>
        <div class="div-cell one-third with_shadow cell-text fourth">
            <span class="subtitle" align="center">Что мы получаем от тренировок с использованием гамака</span>
            <ul>
                <li>мышцы станут сильнее и более эластичными</li>
                <li>улучшится координация и работа вестибулярного аппарата</li>
                <li>изменится состояние позвоночника: вытянется спина, уйдет напряжение</li>
                <li>получите благоприятное воздействие от декомпрессионных переворотов</li>
                <li>повысится стрессоустойчивость и психо-эмоциональное состояние</li>
                <li>увеличится подвижность в суставах и амплитуда движений</li>
                <li>улучшится кровообращение</li>
                <li>улучшится лимфоток, положительно влияя на организм в целом</li>
            </ul>
        </div>
        <div class="div-cell one-third fright fifth">
            <img class="image" src="static/aero/images/photo2.jpg">
        </div>

        <div class="div-cell one-third with_shadow cell-text sixth">
            <span class="subtitle" align="center">Противопоказания для занятий в гамаках</span>
            <ul>
                <li>глаукома</li>
                <li>заболевания сердечно-сосудистой системы, гипертония</li>
                <li>патологии опорно-двигательного аппарата</li>
                <li>травмы головного мозга</li>
                <li>злокачественные образования</li>
                <li>в период беременности</li>
                <li>при повышенной температуре тела</li>
                <li>на полный желудок</li>
                <li>в период обострения каких-либо заболеваний</li>
                <li>в период менструации</li>
            </ul>
        </div>
        <div class="div-cell one-third seventh">
            <div class="coach-container">
                <img class="image" src="static/aero/images/studio6.jpg">
                <div class="coach-info">
                    <h2 align="center">Анастасия Махнач</h2>
                    <p align="center"><span>Инструктор Aeroplan</span><br>
                        <span>МСМК по Синхронному плаванию</span><br>
                        <span>Двукратный абсолютный чемпион РБ</span><br>
                        <span>Многократный победитель Первенств и Чемпионатов РБ</span><br>
                        <span>Финалист Чемпионатов Европы и Мира</span><br>
                        <span>Высшее спортивное образование (БГУФК)</span><br>
                        <span>Сертифицированный преподаватель фитнеса в гамаках</span><br>
                        <span> Стаж тренерской деятельности - 13 лет.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="div-cell one-third cell-text with_shadow eighth">
            <span class="subtitle">Правила посещения студии</span>
            <ul>
                <li>Предварительгая запись обязательна</li>
                <li>При отмене записи, необходимо предупредить преподавателя. В противном случае занятие списывается с
                абонемента</li>
                <li>Срок действия абонемента - 60 дней</li>
                <li>Абонемент возврату не подлежит</li>
                <li>За оставленные без присмотра вещи, администрация ответственности не несет</li>
                <li>Клиенты, опаздавшие на занятие более чем на 15мин к занятию не допускаются</li>
                <li>Во избежания травм и повреждения инвенторя необходимо снимать бижутерию (браслеты, часы, кольца)</li>
                <li>Баловство и шумное поведение, нарушающие комфорт других посетителей запрещены</li>
                <li>В случае плохого самочувствия необходимо немедленно прекратить занятие и предупредить преподавателя</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}