{% extends 'aero/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="div-row">
        <div class="div-cell one-third">
            <img class="image" src="../static/aero/images/photo3.jpg">
        </div>
        <div class="div-cell one-third with_shadow cell-text">
            <h1 class="subtitle">Цены</h1>
            <div class="price-row"><span>Пробное занятие (с покупкой абонемента)</span><span><b>0р</b></span></div>
            <div class="price-row"><span>Пробное занятие</span><span><b>10р</b></span></div>
            <div class="price-row"><span>Разовое занятие</span><span><b>18р</b></span></div>
            <div class="price-row"><span>Абонемент (4 занятия)</span><span><b>68р</b></span></div>
            <div class="price-row"><span>Абонемент (8 занятия)</span><span><b>120р</b></span></div>
            <div class="price-row"><span>Абонемент (12 занятия)</span><span><b>156р</b></span></div>
            <div class="price-row"><span>Абонемент (безлимитный на 1 месяц)</span><span><b>176р</b></span></div>
            <div class="price-row"><span>Индивидуальная тренировка</span><span><b>35р</b></span></div>
        </div>
        <div class="div-cell one-third">
            <img class="image" src="../static/aero/images/photo6.jpg">
        </div>
    </div>
</div>
{% endblock %}
